body {
  font-family: Helvetica;
    text-align: center;
    background-color: white;
    color: black
    }
.title {
  font-weight: bold;
  font-size: 70px;
  color: white;
}
.image {
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
  background-position: center;
  height: 350px;
}
#title2 {
  font-weight: bold;
  font-size: 18x;
  color: red;
